/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/assets/booktrail.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.app-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
}

.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}


